.manage-groups-container {
  margin-top: 35px;
}
.manage-groups-container .unbxd-table .table-header .col1,
.manage-groups-container .unbxd-table .table-header .col2,
.manage-groups-container .unbxd-table .table-header .col3 {
  height: 36px;
}
.manage-groups-container .unbxd-table .col1,
.manage-groups-container .unbxd-table .col2,
.manage-groups-container .unbxd-table .col3 {
  margin-top: 20px;
  height: 40px;
}
.manage-groups-container .unbxd-table .group-col {
  width: 40%;
}
.manage-groups-container .unbxd-table .comments-col {
  width: 55%;
}
.manage-groups-container .unbxd-table .table-row {
  height: auto;
  min-height: 100px;
  border-bottom: solid 1px #f6f7f9;
}
.manage-groups-container .unbxd-table .table-row:hover {
  background-color: #f6f7f9;
}
.manage-groups-container .unbxd-table .group-details {
  margin-left: 20px;
}
.manage-groups-container .unbxd-table .group-details .group-props {
  color: blue;
}
